include AUTHORS
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE.txt
include README.rst
recursive-include edx_theme *.conf *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.ttf *.woff *.py
